CovidSoapClient/src/META-INF/wsdl/localhost_8080/CovidSoapService/CovidService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://myservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myservice/">

<xs:element name="covid" type="tns:covid"/>

<xs:element name="findCovidById" type="tns:findCovidById"/>

<xs:element name="findCovidByIdResponse" type="tns:findCovidByIdResponse"/>

<xs:complexType name="findCovidById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCovidByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:covid" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="covid">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="newCase" type="xs:int"/>
<xs:element name="newCaseExcludeabroad" type="xs:int"/>
<xs:element name="newDeath" type="xs:int"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="totalCase" type="xs:int"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int"/>
<xs:element name="totalDeath" type="xs:int"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int"/>
<xs:element name="yearnum" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>