CovidSoapClient/src/META-INF/wsdl/localhost_8080/CovidSoapService/CovidWeekWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://myservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myservice/">

<xs:element name="covidWeek" type="tns:covidWeek"/>

<xs:element name="findCaseById" type="tns:findCaseById"/>

<xs:element name="findCaseByIdResponse" type="tns:findCaseByIdResponse"/>

<xs:element name="findCaseByWeek" type="tns:findCaseByWeek"/>

<xs:element name="findCaseByWeekResponse" type="tns:findCaseByWeekResponse"/>

<xs:complexType name="findCaseById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCaseByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidWeek" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="covidWeek">
<xs:sequence>
<xs:element name="caseForeign" type="xs:int"/>
<xs:element name="caseNewDiff" type="xs:int"/>
<xs:element name="caseNewPrev" type="xs:int"/>
<xs:element name="casePrison" type="xs:int"/>
<xs:element name="caseWalkin" type="xs:int"/>
<xs:element name="deathNewDiff" type="xs:int"/>
<xs:element name="deathNewPrev" type="xs:int"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="newCase" type="xs:int"/>
<xs:element name="newCaseExcludeabroad" type="xs:int"/>
<xs:element name="newDeath" type="xs:int"/>
<xs:element name="newRecovered" type="xs:int"/>
<xs:element name="totalCase" type="xs:int"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int"/>
<xs:element name="totalDeath" type="xs:int"/>
<xs:element name="totalRecovered" type="xs:int"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int"/>
<xs:element name="yearnum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCaseByWeek">
<xs:sequence>
<xs:element name="weeknum" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCaseByWeekResponse">
<xs:sequence>
<xs:element name="return" type="tns:covidWeek" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>